* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.titleDesc {
    display: flex;
}

.navBar {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #03707F;
}

.titleSteam {
    margin-left: 2pc;
    color: rgb(255, 255, 255);
}

.links {
    display: flex;
    align-items: center;
    margin-right: 1pc;
}

.links ul li {
    margin-right: 12px;
    list-style: none;
}

.links ul a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2pc;
}

.links ul a:hover {
    color: #00BDD2;
    cursor: pointer;
}